.countdown-timer {
    width: auto;
    max-width: 90%;
    height: auto;
    border: 2px solid black;

    font-family: "Oswald";
    font-size: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown-timer span {
    margin-left: 5px;
    margin-right: 5px;
}

.two-numbers {
    width: 2ch;
    font-size: 11em;
}

.timename {
    margin-left: 0px;
    margin-top: 4em;
}